In [1]:
import pandas as pd
import random as r

In [2]:
MobileBrands = ["Samsung", "Apple", "Xiaomi", "Vivo", "OnePlus", "Oppo", "LG", "Nokia", "Nexus", "Asus", "Red", "Huawei", "Lenovo", "Sony", "Google", "HTC", "Panasonic", "Motorola", "Honor"]

In [7]:
data = {"Brand": [r.choice(MobileBrands) for i in range(100)], "Call Duration": [r.randint(1, 120) for i in range(100)]}

In [11]:
df = pd.DataFrame(data)
df.head(10)

     Brand  Call Duration
0   Xiaomi            118
1    Honor             62
2    Honor            109
3     Sony            108
4  OnePlus             27
5   Xiaomi             21
6   Lenovo             84
7     Sony             63
8     Oppo            100
9    Nexus             60

In [16]:
calldata = {}
for index, row in df.iterrows():
    if row["Brand"] not in calldata.keys():
        calldata[row["Brand"]] = row["Call Duration"]

    else:
        calldata[row["Brand"]] += row["Call Duration"]

print(calldata)

{'Xiaomi': 501, 'Honor': 697, 'Sony': 279, 'OnePlus': 552, 'Lenovo': 488, 'Oppo': 139, 'Nexus': 470, 'Motorola': 374, 'Nokia': 321, 'Apple': 304, 'Google': 608, 'Huawei': 464, 'Samsung': 150, 'Red': 234, 'LG': 15, 'HTC': 273, 'Panasonic': 101, 'Vivo': 131, 'Asus': 42}

In [19]:
sorted_calldata = sorted(calldata.items(), key=lambda x: x[1], reverse=True)
print(sorted_calldata)

[('Honor', 697), ('Google', 608), ('OnePlus', 552), ('Xiaomi', 501), ('Lenovo', 488), ('Nexus', 470), ('Huawei', 464), ('Motorola', 374), ('Nokia', 321), ('Apple', 304), ('Sony', 279), ('HTC', 273), ('Red', 234), ('Samsung', 150), ('Oppo', 139), ('Vivo', 131), ('Panasonic', 101), ('Asus', 42), ('LG', 15)]